body {
    font-family: Tahoma;
    font-size: 12px;
    background: black;
    color: white;
}

.map {
    -webkit-user-select: none;
    user-select: none;
}

.map div {
    float: left;
    display: block;
    margin: -1px 0px 0px -1px;
    border: 1px solid white;
    cursor: crosshair;
}

.map div:hover {
    background: #cccccc !important;
}

.tile-selector {
    margin-bottom: 10px;
}

.tile-selector input {
    display: none;
}

.tile-selector input + label {
    display: inline-block;
    width: 80px;
    height: 20px;
    padding: 2px 7px;
    background: black;
    cursor: pointer;
    border-radius: 4px;
    line-height: 18px;
    border: 2px solid #cccccc;
}

.tile-selector input:checked + label {
    background: gray;
    border: 2px solid white;
}
